.red {
    background-color: red;
    border: 2px solid black;
    width: 100%;
    height: 30px;
}
.blue {
    background-color: blue;
    border: 2px solid black;
    width: 100%;
    height: 30px;
}